body { background-color: #ffdb58;


}

.jumbotron {

    background-color:  #ffdb58;
}


  ul {
    list-style-type: none;
    padding: 0;
 } 
  

  li {
    padding: 8px 16px;
    border-top:1px solid black ;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color:white;
    font-size: 20px;
    font-weight: bold;
  }

  .newburger {
      opacity: 0.5;
  } 

  
