<li>
	{{burger_name}}
	{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}" Devour>
		{{#if devoured}}Devour{{/if}}

	</button>
	{{/if}}
	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>